In [18]:
a = [1,2,3,4,5,6]
for i in a :
    if i == a[2]:
        break
    print(i)

1
2

In [21]:
a=[1,2,3,['rukesh','cloudiee','data'],('hi'),5,6,7]
a[3][1][0:5]

'cloud'

In [22]:
a = [1,2,3,4,5,6]
for i in a :
    print("i")

i
i
i
i
i
i

In [25]:
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [27]:
for i in range(0,101):
    if i%2!=0:
        continue
    else:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [29]:
5%2

1

In [33]:
7/

3.5

In [31]:
5//2

2

In [32]:
a = 5/2
print(int(a))

2

In [41]:
a =99/10

print(int(a))

9

In [42]:
a = int(input("Enter your input :"))
if a%2==0:
    print("Even")
else:
    print("Odd")

Enter your input :22
Even

In [ ]:
year = int(input("Enter your input : "))
if year%4==0:
    print("It's a leap Year")
elif year%3==0:
    print("It's is a super year")
else:
    print("It's not a  leap year")

In [5]:
n = input("Enter the value you want to check : ")
re = n[::-1]
if n == re:
    print("Its a palindrome")
else:
    print("Its not a palindrome")

Enter the value you want to check : abccba
Its a palindrome

In [6]:
list = [1,2,3,4,4,3,2,1]

rev = list[::-1]
#print(rev)
 
if list == rev:
    print(True)
else:
    print(False)

[1, 2, 3, 4, 4, 3, 2, 1]
True

In [13]:
n = input("Enter your input seperated by comma : ")
list = n.split(",")
#print(list)
rev = list[::-1]

if list == rev:
    print(True)
else:
    print(False)

Enter your input seperated by comma : 1,2,3,4,4,3,2,1
['1', '2', '3', '4', '4', '3', '2', '1']
True